name: Unit tests
on:
  push:
    branches:
      - main
      - e35
  pull_request:
    branches:
      - '**'

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v6
        with:
          go-version: '>=1.23'
          cache: false

      - run: go test ./...

      - run: go install github.com/pelletier/go-toml/v2/cmd/tomll@latest

      - run: tomll chiado.toml
      - run: tomll gnosis.toml
      - run: tomll mainnet.toml
      - run: tomll sepolia.toml
      - run: tomll holesky.toml
      - run: tomll hoodi.toml

      - run: tomll webseed/chiado.toml
      - run: tomll webseed/gnosis.toml
      - run: tomll webseed/mainnet.toml
      - run: tomll webseed/sepolia.toml
      - run: tomll webseed/holesky.toml
      - run: tomll webseed/hoodi.toml